{% load static %}
<div  class="row " style="background-image: url('{% static 'todo/images/successbackgroundbase.png' %}');background-attachment: fixed;
 background-size: cover;
 background-position: center;background-blend-mode: luminosity; ">
   <div class="col-lg-4 col-md-4 col-sm-4 about">
    <img src="{% static 'todo/images/ceopic.png' %}" class="img-fluid" height="50%" style="max-width:80%;">
    <span class="text-justify text-success">VIJAY KUSHAWAH CEO</span>
   </div>
   <div class="col-lg-8 col-md-8 col-sm-8 about">

    <h3 class="text-primary">WHY,YOU CHOOSE US</h3>
    <p class="text-danger font-weight-bold font-italic">
      Marriage is not just event , It's a relation beteween two families which can bring happiness if they find perfect matches for them.
      We obeserved,people try to connect with their relatives to find groom/bride although somehow they meet once or twice ,finally they get married.All
      future depend on luck if we got nice partner   thats a traditional risky approach .<br>
      We are prviding services to needy people who  don't want rely on fate only.
     <b></b><p class="text-center">
     <mark>Don't wait for your turn,do it now! </mark></p>
<!-- <input type="button"  id="crossdata" value="GET CROSS DATA" class="btn btn-success crossdata"  /> -->

    </p>
   </div>
  </div>
