{% load static %}

<div  class="" style="background-image: url('{% static 'todo/images/servicebackground.png' %}');background-attachment: fixed;
 background-size: cover;
 background-position: center;background-blend-mode: luminosity; ">
  <h2 class="text-danger text-center bg-danger font-weight-bold"><br><mark> SERVICES OFFERED BY US<br></h2>

   <div class="col-lg-12 col-md-12 col-sm-12 ">
<a href="{% url 'createbiodatatodo' %}">
    <p style="font-size:30px;"class="text-info text-left font-weight-bold font-italic">
      <img style="border-radius: 50%" width="130px" height="125px" src="{% static 'todo/images/matrimonyservice.png' %}">
      BIODATA MANAGEMENT
    </p></a>
    <p style="font-size:22px;"class="text-secondary text-left font-weight-bold font-italic">
To get your perfect match you need to login then you can use below services.
      <ul class="list-group">
  <li class="list-group-item list-group-item-success">1.CREATE YOUR BIODATA TO CONNECT WITH YOUR MATCHES</li>
  <li class="list-group-item list-group-item-info">2.YOU CAN UPDATATE YOU BIODATA ANY TIME</li>
  <li class="list-group-item list-group-item-warning">3.YOU CAN DOWNLOAD YOUR BIODATA .YOU JUST NEED YOUR BIODATA ID</li>
  <li class="list-group-item list-group-item-danger">4.YOR CAN CHANGE BIODATA PRIVACY SO OTHER USER CAN VIEW ONLY LIMITED INFORMATION</li>
  <li class="list-group-item list-group-item-success">5.YOU CAN DO CHATS WITH YOUR MATCHES FOR BETTER UNDERSTANDING</li>
</ul>

    </p>

</div>


<div class="col-lg-12 col-md-12 col-sm-12 ">
<a href="{% url 'createtodo' %}">
 <p style="font-size:30px;"class="text-info text-left font-weight-bold font-italic">
   <img style="border-radius: 50%" width="130px" height="125px" src="{% static 'todo/images/taskmanagementservice.png' %}">
   TASK MANAGEMENT
 </p></a>
 <p style="font-size:22px;"class="text-secondary text-left font-weight-bold font-italic">

   You can track your to do list with the help of following features.

   <ul class="list-group">
 <li class="list-group-item list-group-item-success">1.CREATE YOUR TASK LIST, THAT YOU  WANT TO ACHIEVE</li>
 <li class="list-group-item list-group-item-info">2.GET YOUR PENDING TASKS INFORMATION</li>
 <li class="list-group-item list-group-item-warning">3.DOWNLOAD YOUR PENDING & COMPLETED TASKS IN CSV/EXCEL</li>
 <li class="list-group-item list-group-item-danger">4.UPADTE INFORMATION IN  PENDING TASKS</li>
 <li class="list-group-item list-group-item-success">5.MARK YOUR TASK AS COMPLETED </li>
 </ul>

 </p>

</div>



<div class="col-lg-12 col-md-12 col-sm-12 ">
<a href="{% url 'translatortodo' %}">
 <p style="font-size:30px;"class="text-info text-left font-weight-bold font-italic">
   <img style="border-radius: 50%" width="130px" height="125px" src="{% static 'todo/images/languagetranslatorservice.png' %}">
   LANGUAGE TRANSLATOR
 </p></a>
 <p style="font-size:22px;"class="text-secondary text-left font-weight-bold font-italic">

   Many times we feel urgency to get meaning of text given in another language so,here you can get it quickly.
   <ul class="list-group">
  <li class="list-group-item list-group-item-success">1.TYPE OR COPY PASTE  TEXT IN ANY LANGUAGE,TRANSLATOR WILL DETECT LANGUAGE</li>
  <li class="list-group-item list-group-item-info">2.CHOOSE LANGUAGE IN WHICH YOU WANT TEXT </li>
  <li class="list-group-item list-group-item-warning">3.YOU CAN CLICK ON GET PRONUNCIATION TO GET TEXT IN LOCAL LANGUAGEL</li>

  </ul>

 </p>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 ">
<a href="{% url 'passwordgeneratortodo' %}">
 <p style="font-size:30px;"class="text-info text-left font-weight-bold font-italic">
   <img style="border-radius: 50%" width="130px" height="125px" src="{% static 'todo/images/passwordgeneratorservice.png' %}">
   PASSWORD GENERATOR
 </p></a>
 <p style="font-size:22px;"class="text-secondary text-left font-weight-bold font-italic">

   We usually do signup in many places where password field has many constraints here you can apply them & get your generated password on the fly.
   <ul class="list-group">
  <li class="list-group-item list-group-item-success">1.SELECT DROPDOWN OPTIONS TO GET PASSWORD IN DESIRED FORMAT </li>

  </ul>

 </p>

</div>
