{% load static %}

<!-- Bootstrap -->


<!-- Modal Popup -->
<div id="MyPopup2" class="modal MyPopup2" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content bg-warning">

            <div style="overflow-y: scroll; height:400px;" class="modal-body bg-secondary">
              <h5> <a class="nav-link bg-success" href="{% url 'mybiodatahometodo'  %}">SEARCH PARTNER</a>


                </h5>
            </div>
            <div class="modal-footer bg-info">
                <input type="button" id="btnClosePopup" value="CLOSE" class="btn btn-danger close" onclick="CheckChecked();" />
            </div>
        </div>
    </div>
</div>
<!-- Modal Popup -->
